.dropdown
{
	margin-top: 15vh;
	margin-left: 10vh;
	margin-right: 10vh;
}

select
{
	text-align-last: center;
	margin-bottom: 5vh;
}

body
{
	background : #110c11;
	overflow-x: hidden;
}

.home_link
{
	color: #ffffff;
}

.page_links
{
	margin-left: 10vh;
	margin-right: 10vh;
}

#city_info
{
	margin-top: 0.5vh;
}

#city_info_title
{
	/*font-family: 'Courier New','Times New Roman';*/
	color: #ffffff;
	font-size: 5vh;
	font-weight: 10;
	font-style: oblique;
	margin-left: 10vh;
	margin-right: 10vh;
	margin-bottom: 3vh;
	margin-top: 2vh;
}


#historical_data_title
{
	/*font-family: 'Courier New','Times New Roman';*/
	color: #ffffff;
	font-size: 5vh;
	font-weight: 10;
	font-style: oblique;
	margin-left: 10vh;
	margin-right: 10vh;
	margin-bottom: 5vh;
	margin-top: 4vh;
}

.info_box
{
	background-color: #343a40;
	margin-left: 10vh;
	margin-right: 10vh;
	/*margin-top: -4vh;*/
	height: 40vh;
	color: #ffffff;
	text-align: center;
	overflow-y: scroll;
	padding-left: 10px;
	padding-bottom: 10px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.info_box_img
{
	float: right;
	height: 40vh;
	margin-left: 30px;
	padding: 0;
}

#city_info_text
{
	text-align: center;
	vertical-align: middle;
	margin-right: 0px;
}

.hist_table
{
	margin-right: 10vh;
	margin-left: 10vh;
}



/*the blue #232f3e*/
/*darker blue : #131a22*/