.header
{
	margin: 0;
	background-color: #110c11;
	width: 100%;
	height : 10vh;
	/*border-bottom: 1px solid #ffffff;*/
}
.menu-bar
{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1000;
}

body
{
	background-color: #ffffff;
	position: relative;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.menu-bar
{
	width: 100%;
}
.title
{
	text-align:left;
	margin-left: 2%;
	margin-top : 0.7%;
}
#title
{
	font-family: 'Courier New','Times New Roman';
	color: #ffffff;
	font-size: 5vh;
	font-weight: 10;
	font-style: oblique;
}

.nav-link
{
	font-family: 'Courier New','Times New Roman';
	color: #ffffff;
	font-style: oblique;
	font-size: 3vh;
	margin-right: 25px;
}
.nav-item
{
	margin-top : 1%;
}
#about
{
	margin-top :-1%;
}
.divider
{
	border-left: 0.5px solid #ffffff;
	height: 75%;
	margin-top: 0.5%;
	margin-left: -3%;
}
.sign_in_button
{
	margin-top: 17%;
	text-align: center;
	margin-left: -70%;
	background-color: #110c11;
	font-family: 'Courier New','Times New Roman';
	color: #ffffff;
	font-style: oblique;
	font-size: 2.5vh;
	border: 2px solid #ffffff;
}
.banner
{
	width: 100%;
	height: 90vh;
	background-color: black;
	border-bottom: 1px solid #ffffff;
}
.img_container
{
	position: relative;
 	text-align: center;
 	top : 10vh;
  	color: white;
}
.top-left {
  	position: absolute;
  	top: 8px;
  	left: 16px;
  	margin-left: 2%;
  	font-family: 'Courier New','Times New Roman';
	color: #ffffff;
	font-style: oblique;
}

/* Top right text */
.top-right {
  	position: absolute;
  	top: 8px;
  	right: 16px;
  	margin-right: 2%;
  	font-family: 'Courier New','Times New Roman';
	color: #ffffff;
	font-style: oblique;
}
.centered {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	font-family: 'Courier New','Times New Roman';
	color: #ffffff;
	font-style: oblique;
	font-size: 4.5vh;
}
.banner_image
{
	width: 100%;
	height: 90vh;
}

.news-container
{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10vh;
	height: auto;
	color: #111111;
	border-radius: 5px;
	border: 0.5px solid #ffffff;
}

.articles 
{
	font-family: 'Courier New','Times New Roman';
}

.article_title
{
	font-size: 4vh;
	color : #110c11;
	font-weight: 25;
}
#news_title
{
	color: #ffae19;
	font-size: 4vh;
	font-style: oblique;
	margin-top: 2%;
}
.news_date
{
	font-size: 2vh;
}
.news_title
{
	margin-bottom: 1%;
}

#article_author
{
	color: #ffae19;
	font-style: oblique;
	font-size: 2.5vh;
	text-decoration: underline;
	text-align: right;
	margin-right: 2%;
}

.nav_link:link {
  text-decoration: none;
}

/* visited link */
.nav_link:visited {
  color: green;
}

/* mouse over link */
.nav_link:hover {
  color: hotpink;
}

/* selected link */
.nav_link:active {
  color: blue;
}

.climate_science
{
	margin-left: 5%;
	margin-right: 5%;
	background-color: #ffffff;
	margin-bottom: 5%;
	margin-top: 5vh;
}

#section_divider 
{
	border: 0.5px solid  #a6a6a6;
}

#climate_science_title
{
	color: #400000;
	font-style: oblique;
	font-size: 4.5vh;
	font-weight: bold;
}
.graph_image
{
	width: 90vw;
	height: auto;
}
.graph_caption
{
	margin-top: 15px;
	text-align: center;
}
.graph_caption2
{
	margin-top: 5px;
	text-align: center;
}

.famous_people
{
	width: 100%;
	height: 50vh;
	background-color: #232f3e;
	color: #ffffff;
	font-style: oblique;
	font-size: 2.5vh;
	margin-bottom: 2%;
	margin-top: 5vh;
}
.content
{
	margin-left : 10%;
	width: 50%;
	position: relative;
	top : 40px;
}
#content_text
{
	position: relative;
	top : 5%;
}
.content_image
{
	margin-left: 5%;
	width: 30%;
	margin-right: 5%;
	margin-top : 3.5%;
}

.footer
{
	background-color: #110c11;
	width: 100%;
	height: 6vh;
	position: relative;
	bottom: -25px;
	left: 0;
	right: 0;
}
#footer_text
{
	font-size: 3vh;
	text-align: center;
	color: #ffffff;
}